<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/estilo_about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap" rel="stylesheet">
    <title>Acerca</title>
</head>

<body>
    <header>
        <nav>
            <div class="container-nav">
                <div class="Navegacion">
                    <img class="ImagenNAv" src="../static/Img/Logo.jpg" alt="Logo">
                    <ul>
                        <li><a href="../index.html">Index</a></li>
                        <li><a href="proyectos.html">proyectos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="titulo_about">Informacion de mi</div>
    <br>

    <div class="presentacion_imagen">
        <div class="informacion">
            <h2 class="presentacion">Daniel Alexander Landero Abriga</h2>
            <br>
            <p class="presentacion">
                Soy Daniel Landero, un profesional con conocimiento que abarca desde herramientas esenciales como Excel
                hasta lenguajes de programación avanzados como Python, Java, HTML5, CSS y JavaScript (incluyendo React y
                Node.js). También cuento con experiencia en el framework Django y en la gestión de bases de datos SQL.
            </p>
            <p class="presentacion">
                Me caracterizo por ser proactivo, orientado a resultados y con una sólida capacidad para enfrentar y
                resolver desafíos complejos. Mi compromiso con el aprendizaje continuo y mi facilidad para adaptarme a
                nuevas tecnologías me permiten integrarlas eficazmente en los proyectos en los que participo.
            </p>
            <p class="presentacion">
                Además, mi pasión por la música y la guitarra no solo enriquece mi vida personal, sino que también
                impulsa mi creatividad y me ofrece una perspectiva innovadora dentro del entorno profesional.
            </p>
            <p class="presentacion">
                descaga aqui mi CV :
                <a href="../static/documentos/Daniel_Landero_CV.pdf" download>Descargar PDF</a>
            </p>



        </div>
        <img class="foto_mia" src="../static/Img/Logo.jpg" alt="20px">
    </div>
    <br>

    <h1 class="titulo_about">Conocimientos:</h1>
    <h2 class="titulos_manejo">lenguajes:</h2>
    <div class="iconos">
        <img class="logos" src="../static/Img/Logos/css_logo.png" alt="">
        <img class="logos" src="../static/Img/Logos/Logo_html.png" alt="">
        <img class="logos" src="../static/Img/Logos/Logo_js.png" alt="">
        <img class="logos" src="../static/Img/Logos/logo_java.png" alt="">
        <img class="logos" src="../static/Img/Logos/logo_python.png" alt="">
        <img class="logos" src="../static/Img/Logos/Logo_sql.png" alt="">
    </div>
    <br>

    <h2 class="titulos_manejo">Otros:</h2>
    <div class="iconos">
        <img class="logos" src="../static/Img/Logos/Office_logo.png" alt="">
        <img class="logos" src="../static/Img/Logos/Power Bi.png" alt="">
    </div>
</body>

</html>