<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap" rel="stylesheet">
    <title>Proyectos!</title>
</head>


<body>
    <header>
        <nav>
            <div class="container-nav">
                <div class="Navegacion">
                    <img class="ImagenNAv" src="../static/Img/Logo.jpg" alt="Logo">
                    <ul>
                        <li><a href="../Index.html">Index</a></li>
                        <li><a href="acerca.html">Acerca de mi</a></li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <h2>Bienvenido a mis proyectos</h2>
    <p>Siente seguro de ver mis poryectos :D </p>


</body>

</html>