<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/estilo_proyecto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <title>Mis Proyectos</title>
</head>

<body>
    <header>
        <nav>
            <div class="container-nav">
                <div class="Navegacion">
                    <img class="ImagenNAv" src="../static/Img/Logo.jpg" alt="Logo de mi portafolio">
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="acerca.html">Acerca de mí</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="main-content">
        <aside class="proyectos-hero">
            <h2>Bienvenido a mis proyectos</h2>
            <p>Aquí puedes ver algunos proyectos que he realizado. ¡Espero que te gusten!</p>
        </aside>

        <section class="grid-proyectos">

            <div class="card-proyecto">
                <a href="../views/proyectos/veterinaria.html" class="link-detalle-total"></a>
                <div class="contenido-proyecto">
                    <div class="texto-proyecto">
                        <h3 class="titulo-proyecto">Proyecto de Veterinaria</h3>
                        <p>Sistema de gestión clínica diseñado para optimizar la atención veterinaria.</p>
                        <p class="tecnologias-usadas">React, Next.JS, PostgreSQL, Prisma, CSS</p>
                        <div class="contenedor-boton">
                            <a href="https://proyectoveterinaria.vercel.app/" target="_blank" class="btn-ver-mas">Ver
                                Demo en Vivo</a>
                        </div>
                    </div>
                    <img src="../static/Img/proyectoVete.jpg" alt="Preview de Veterinaria">
                </div>
            </div>

            <div class="card-proyecto">
                <a href="../views/proyectos/login.html" class="link-detalle-total"></a>
                <div class="contenido-proyecto proyecto-derecha">
                    <div class="texto-proyecto">
                        <h3 class="titulo-proyecto">Módulo de Autenticación</h3>
                        <p>Módulo de acceso seguro con validación de credenciales mediante tokens JWT.</p>
                        <p class="tecnologias-usadas">React, Node.js, Nest.js, PostgreSQL, JWT Auth, Prisma</p>
                        <div class="contenedor-boton">
                            <a href="https://app-usuario-phi.vercel.app/" target="_blank" class="btn-ver-mas">Ir a la
                                Demo</a>
                        </div>
                    </div>
                    <img src="../static/Img/proyectoLog.png" alt="Preview de Login">
                </div>
            </div>

            <div class="card-proyecto">
                <a href="../views/proyectos/tickets.html" class="link-detalle-total"></a>
                <div class="contenido-proyecto">
                    <div class="texto-proyecto">
                        <h3 class="titulo-proyecto">Sistema de Tickets</h3>
                        <p>Plataforma para el reporte y resolución de incidencias técnicas.</p>
                        <p class="tecnologias-usadas">React, Vite, Express, MySQL, CSS,Vercel,JWT</p>
                        <div class="contenedor-boton">
                            <a href="https://ticket-front-puce.vercel.app/" target="_blank" class="btn-ver-mas">Ver Demo
                                en Vivo</a>
                        </div>
                    </div>
                    <img src="../static/Img/sistemaTickets.png" alt="Preview de Tickets">
                </div>
            </div>

            
            

        </section>
    </main>
</body>

</html>