<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/estilos.css">
    <link rel="stylesheet" href="../../static/css/proyectos/tickets.css">
    <link rel="stylesheet" href="../../static/css/detalle_individual.css">
    <title>Detalle - Módulo de Login</title>
</head>

<body>
    <header>
        <nav>
            <div class="container-nav">
                <div class="Navegacion">
                    <img class="ImagenNAv" src="../../static/Img/Logo.jpg" alt="Logo">
                    <ul>
                        <li><a href="../proyectos.html">← Volver a Proyectos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="main-content">
        <div class="detalle-container">
            <header class="encabezado-detalle">
                <h1>Módulo de Autenticación Segura</h1>
                <div class="tech-stack">
                    <span>Node.js</span>
                    <span>Express</span>
                    <span>JWT</span>
                    <span>Bcrypt</span>
                    <span>React</span>
                    <span>PostgreSQL</span>
                </div>
            </header>

            <div class="grid-detalle">
                <section class="info-proyecto">
                    <h2>Descripción Técnica</h2>
                    <p>Desarrollé un sistema robusto de autenticación y autorización para aplicaciones web, priorizando
                        la seguridad de los datos del usuario y la integridad de las sesiones.</p>

                    <h3>Funcionalidades Implementadas</h3>
                    <ul>
                        <li><strong>Seguridad de Credenciales:</strong> Encriptación de contraseñas mediante Bcrypt y
                            validación de identidad .</li>
                        <li><strong>Tokens de Acceso:</strong> Implementación de JSON Web Tokens (JWT) para el manejo de
                            sesiones y protección de endpoints del API.</li>
                        <li><strong>Rutas Protegidas:</strong> Middleware en el frontend para restringir el acceso a
                            componentes privados según el estado de autenticación.</li>
                    </ul>
                </section>

                <section class="preview-proyecto">
                    <div class="contenedor-img">
                        <img src="../../static/Img/proyectoLog.png" alt="Vista previa Login">
                    </div>
                    <a href="https://app-usuario-phi.vercel.app/" target="_blank" class="btn-demo">
                        Ver Demo en Vivo
                    </a>
                </section>
            </div>
        </div>
    </main>
</body>

</html>